.form
  border: 1px solid #ccc
  padding: 2rem 2.5rem
  padding-right: 3.5rem

.field
  padding: 0.5rem 0

.field-label
  margin-bottom: 0.5rem

input, textarea, select
  background: white
  margin: 0
  margin-bottom: .5rem
  padding: 0.5rem 0.5rem
  width: 100%

input[disabled]
  background-color: #ccc

.delete-item
  width: 10px

.row
  display: flex
  gap: 1rem
  & > *
    flex: 1

.row-one

  & > :first-child
    flex: 0 auto
  & > :last-child
    flex: 2 auto


.upload-container
  border: 3px dotted
  padding: 1rem 1rem
  // margin-bottom: 1rem

.image-preview > img
  max-width: 50%

.product-image-form, .image-source
  max-width: 50% !important