node_modules/
coverage/
*.log
.vscode
.next
.env*
.env.test
.nyc_output
todo.md
server/data/*
!/**/.gitkeep
docs/api/backlog.md
public/
server/tests/data/**/*
!server/tests/data/images/
!server/tests/data/images/img1.jpg
!server/tests/data/images/img2.jpg
!server/tests/data/images/img3.jpg