$breakpoints: (
  'sm': (
    min-width: 576px,
  ),
  'md': (
    min-width: 768px,
  ),
  'lg': (
    min-width: 992px,
  ),
  'xl': (
    min-width: 1200px,
  ),
  'xll': (
    min-width: 1400px,
  ),
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
) !default;

// Base colors
$color-base-grey: hsl(0, 0%, 50%);
$color-base-black: hsl(0, 0%, 5%);
$color-base-white: hsl(342, 70%, 100%);
$color-base-blue: hsl(252, 100%, 25%);
$color-base-red: hsl(0, 100%, 50%);

// Color palettes
$palettes: (
  blue: (
    base: $color-base-blue,
    light: lighten($color-base-blue, 15%),
    mid-light: lighten($color-base-blue, 5%),
    dark: darken($color-base-blue, 15%),
    x-light: lighten($color-base-blue, 25%),
    light-45: lighten($color-base-blue, 45%),
  ),
  red: (
    base: $color-base-red,
    light: lighten($color-base-red, 15%),
    mid-light: lighten($color-base-red, 5%),
    dark: darken($color-base-red, 15%),
    x-light: lighten($color-base-red, 25%),
    light-45: lighten($color-base-red, 45%),
  ),
  white: (
    base: $color-base-white,
  ),
  black: (
    base: $color-base-black,
    light: lighten($color-base-black, 15%),
  ),
  grey: (
    base: $color-base-grey,
    light: lighten($color-base-grey, 15%),
    mid-light: lighten($color-base-grey, 5%),
    dark: darken($color-base-grey, 25%),
    mid-dark: darken($color-base-grey, 15%),
  ),
);

$modal-fade-transform: translate(0, -50px) !default;
$modal-show-transform: none !default;
$modal-transition: transform 0.3s ease-out !default;
$modal-scale-transform: scale(1.02) !default;

$btn-primary-background: palette(blue, light);
$btn-primary-border-color: palette(blue, light);
$btn-primary-color: palette(white);
$btn-primary-hover-background: palette(blue);
$btn-primary-hover-border-color: palette(blue);

$btn-secondary-background: palette(gray);
$btn-secondary-border-color: palette(gray);
$btn-secondary-color: palette(white);
$btn-secondary-hover-background: palette(gray, mid-dark);
$btn-secondary-hover-border-color: palette(gray, mid-dark);

$btn-danger-background: palette(red);
$btn-danger-border-color: palette(red, light);
$btn-danger-color: palette(white);
$btn-danger-hover-background: palette(red, dark);
$btn-danger-hover-border-color: palette(red, dark);

$btn-close-color: palette(gray);
$btn-close-hover-color: palette(gray, dark);
